

.col-md-12
  .col-md-4
  .col-md-4
    = form_for(@project) do |f|
      .form-group
        %label{:for => "usr"} User Name:
        = f.text_field :name, class: "form-control"
      .form-group
        %label{:for => "pwd"} Task:
        = f.text_area :description, class: "form-control"
      .form-group
        = f.submit "Submit", class: "btn btn-default"
  .col-md-4
%br/